<div class="container">
  <h1 class="text-2xl md:text-3xl font-bold text-center mb-6 md:mb-16">
    {{ collection.title }}
  </h1>

  {% if collection.description != blank %}
    <p class="max-w-screen-sm mx-auto md:-mt-6 mb-6 md:mb-12">
      {{ collection.description }}
    </p>
  {% endif %}

  {% paginate collection.products by 16 %}
    {% if collection and collection.products %}
      {% assign amount = collection.all_products_count %}
      {% render 'layout-sort-bar', amount: amount class: 'mb-8' %}

      <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-x-4 gap-y-8">
        {% for product in collection.products %}
          {% render 'layout-product', product: product %}
        {% endfor %}
      </div>
    {% else %}
      <div>
        {{ 'common.no_products' | t }}
      </div>
    {% endif %}

    {% render 'layout-pagination', paginate: paginate %}
  {% endpaginate %}
</div>