<div class="container mb-12 md:mb-24">
  {% if section.settings.headline %}
    <div class="text-2xl lg:text-3xl font-bold text-center mb-6 md:mb-12">
      {{ section.settings.headline }}
    </div>
  {% endif %}

  <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-4">
    {% render 'section-image',
      class: 'h-96'
      image: section.settings.image-left
    %}

    {% render 'section-image',
      class: 'h-96'
      image: section.settings.image-middle
    %}

    {% render 'section-image',
      class: 'h-96'
      image: section.settings.image-right
    %}
  </div>
</div>

{% schema %}
{
  "name":"Image row",
  "class": "shopify-section-vue",
  "settings": [
    {
      "type": "text",
      "id": "headline",
      "label": "Headline",
      "default": "Our store"
    },
    {
      "type": "image_picker",
      "id": "image-left",
      "label": "Image (left)"
    },
    {
      "type": "image_picker",
      "id": "image-middle",
      "label": "Image (middle)"
    },
    {
      "type": "image_picker",
      "id": "image-right",
      "label": "Image (right)"
    }
  ],
  "presets": [
    {
      "name": "Image row",
      "category": "Images"
    }
  ]
}
{% endschema %}