<div class="container">
  <div>
    Selected products
  </div>

  Products
</div>

{% schema %}
{
  "name":"Products",
  "presets": [
    {
      "name": "Products",
      "category": "Products"
    }
  ]
}
{% endschema %}