{% if section.settings.visible %}
  {% if section.settings.home_page_only == false or template.name == 'index' %}
    <div class="container text-sm text-center py-2">
      {{ section.settings.content }}
    </div>
  {% endif %}
{% endif %}

{% schema %}
{
  "name":"t:sections.announcement-bar.name",
  "class": "bg-black text-white",
  "settings": [
    {
      "type": "checkbox",
      "id": "visible",
      "label": "t:sections.announcement-bar.settings.show-announcement-bar",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "home_page_only",
      "label": "t:sections.announcement-bar.settings.show-only-on-home-page",
      "default": true
    },
    {
      "type": "html",
      "id": "content",
      "label": "t:common.content",
      "default": "Lorem ipsum dolor sit amet."
    }
  ]
}
{% endschema %}