<div class="container max-w-screen-md">
  <h1 class="text-2xl md:text-3xl font-bold text-center mb-6 sm:mb-16">
    {{ blog.title }}
  </h1>

  {% paginate blog.articles by 8 %}
    <div class="grid sm:grid-cols-2 gap-x-8 gap-y-12">
      {% for article in blog.articles %}
        {% render 'layout-blog-article', article: article %}
      {% endfor %}
    </div>

    {% render 'layout-pagination', paginate: paginate %}
  {% endpaginate %}
</div>