<div class="container max-w-screen-sm">
  <renderless-template-switch
    v-slot="{ active, show }"
    initial="login"
  >
    <div>
      <div
        v-show="active.value === 'login'"
        key="login"
      >
        {% render 'layout-account-login' %}
      </div>

      <div
        v-show="active.value === 'forgot-password'"
        key="forgot-password"
      >
        {% render 'layout-account-forgot-password' %}
      </div>
    </div>
  </renderless-template-switch>
</div>