@import "tailwindcss/base";

@layer base {
    @font-face {
        font-family: 'Domaine-Display';
        font-weight: 300;
        src: url(../fonts/DomaineDisplayWeb-Regular.woff) format("woff");
    }
    @font-face {
        font-family: 'Domaine-Display';
        font-weight: 700;
        src: url(../fonts/DomaineDisplayWeb-Medium.woff) format("woff");
    }    
    @font-face {
        font-family: 'Domaine-Text';
        font-weight: 300;
        src: url(../fonts/DomaineTextWeb-Regular.woff) format("woff");
    }
    @font-face {
        font-family: 'Domaine-Text';
        font-weight: 700;
        src: url(../fonts/DomaineTextWeb-Medium.woff) format("woff");
    }
}