/**
 * entry file for Tailwind CSS
 * and other style files
 */
@import "tailwindcss/base";
@import "tailwindcss/components";

@import "_custom-fonts";
@import "_buttons";
@import "_forms";
@import "_mobile-navigation";
@import "_sections";
@import "_v-lazy-image";

@import "tailwindcss/utilities";